<div class="d-flex flex-column  flex-row col-md-10 offset-md-1" style=" padding: 0px;">
    <div class="card text-justify col-md-12 animated mb-2">
        <div class="card-header mb-1">
            <i class="fas fa-map-marker-alt"></i> Localidad
        </div>
        <div class="card-body">
            <h5 class="card-title">Torreón Coah. Mexico</h5>
            <p class="card-text"></p>
        </div>
    </div>
    <div class="card text-justify col-md-12 mb-2">
        <div class="card-header mb-1">
            <i class="fas fa-graduation-cap"></i>{{infoPaginaService.info?.conocimientodev.titulo}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{infoPaginaService.info?.conocimientodev.lenguajes}}</h5>
            <h5 class="card-title">{{infoPaginaService.info?.conocimientodev.libfram}}</h5>
            <h5 class="card-title">{{infoPaginaService.info?.conocimientodev.bd}}</h5>
            <p class="card-text"></p>
        </div>
    </div>
    <div class="card text-justify col-md-12 mb-2">
        <div class="card-header mb-1">
            <i class="fas fa-search"></i>Busco
        </div>
        <div class="card-body">
            <h5 class="card-title">Empleo como desarrollador web que me permita laborar desde casa</h5>
            <p class="card-text"></p>
        </div>
    </div>


</div>